.header {
  height: 55px;

display: flex;
flex-direction: row;
justify-content: space-between;
}

.left-section{
  display: flex;
  align-items: center;
}

.middle-section{
  background-color: lightpink;
  flex: 1;
  margin-left: 70px;
  max-width: 300px;
}

.right-section{
  margin-left: 30px;
  background-color: lightblue;
  width: 200px;
}

.hamburger-menu{
  height: 25px;
  margin-right: 20px;
  margin-left: 20px;
}

.youtube-logo {
  height: 20px;
}