.header {
  height: 55px;
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
left: 0;
top: 0;
right: 0;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: lightgray;
z-index: 100;
}

.left-section{
  display: flex;
  align-items: center;
  
}

.middle-section{
  flex: 1;
  margin-left: 20px;
 max-width: 600px;
  display: flex;
  align-items: center;
}

.right-section{
  margin-left: 30px;
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
}

.hamburger-menu{
  height: 25px;
  margin-right: 20px;
  margin-left: 20px;
}

.youtube-logo {
  height: 20px;
}

.search-button{
  height: 44px;
  width: 66px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(107, 97, 97, 0.721);
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  background-color: white;
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
}

.voice-search-button{
  height: 40px;
  width: 66px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  background-color: white;
  position: relative;
}

.search-bar{
  flex: 1;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(107, 97, 97, 0.721);
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  max-width: 350px;
  width: 0;
}

.search-bar::placeholder{
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
}

.search-icon{
  height: 25px;
  
}

.voice-search-icon{
  height: 25px;
  
}

.upload-icon{
  height: 25px;
}

.yt-apps-icon{
  height: 25px;
}
.notifs-icon{
  height: 25px;
}
.current-user-pictures{
  height: 32px;
  border-radius: 16px;
}

.notifs-icon-container{
  position: relative;
}

.notifs-count{
  position: absolute;
  top: -2px;
  right: 0;
  background-color: red;
  color: white;
  height: 12px;
  font-size: 11px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-right: 4px;
  border-radius: 12px;
  font-family: Roboto,Arial;

}


.voice-search-button .tooltip,
.search-button .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  border-radius: 2px;
  bottom: -30px;
  opacity: 0;
  transition: 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.voice-search-button:hover .tooltip,
.search-button:hover .tooltip,
.upload-icon-container:hover .tooltip{
  opacity: 1;
}

.search-button,.voice-search-button,.upload-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
}